---
layout: default
comments: true
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@site_username">
	<meta name="twitter:creator" content="@creator_username">
	{% if page.title %}
	  <meta name="twitter:title" content="{{ page.title }}">
	{% else %}
	  <meta name="twitter:title" content="{{ site.title }}">
	{% endif %}
	{% if page.url %}
	  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	{% endif %}
	{% if page.description %}
	  <meta name="twitter:description" content="{{ page.description }}">
	{% else %}
	  <meta name="twitter:description" content="{{ site.description }}">
	{% endif %}
	{% if page.image %}
	  <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/{{ page.image }}">
	{% else %}
	  <meta name="twitter:image:src" content="{{ site.url }}/path/to/image/logo.png">
	{% endif %}



  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
	
  <div class="post-content e-content" itemprop="articleBody">
    {% include share-bar.html %}
    <br />
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


